@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
body{
    background-image: url(../img/BG2\ \(2\).jpg);
    background-size: cover;
    background-attachment: fixed;
}
#title{
    background-color: rgb(221, 68, 7);
    color: white;
}
.nav img{
    width: 46px;
    margin-right: 16px;
}
.nav a{
    margin-right: 56%;
    padding: 1% 1%;
    font-family: 'Poppins', sans-serif;
}
.nav-item a{
    margin-right: 26px;
    font-family: 'Montserrat', sans-serif;
}
#carousel{
    padding: 3% 5% 6% 5%;
    height: 426px;
    background-color: rgb(221, 68, 7);
}
.carousel{
    width: 100%;
    height: 305px;
}
.carousel img{
    height: 354px;
}
#Owl{
    height: 350px;
    padding: 3% 0%;
    background-color: white;
}
#Owl img{
    height: 198px;
}
.item{
    text-align: center;
    height: 240px;
}
#cards{
    padding: 2% 11%;
}
#cards img{
    height: 110px;
}
.card{
    margin-bottom: 35px;
}
.card a{
    color: rgb(58, 58, 58);
    text-align: center;
    text-decoration: none;
}
.cards a:hover{
    color: black;
}
#footer{
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    background-color: rgb(182, 53, 2);
    color: white;
    padding: 1%;
}
